block root

-
    let routes = {
        "Main page": '/',
        "Projects": "/project",
        "About me": "/about",
        "hr_1": "hr",
        "Guestbook": "/guestbook",
        "Articles": "/articles",
        "hr_2": "hr",
        "Sources": "/sources",
        "Services": "/services",
        "Resume": "/resume"
    }

doctype html
html(style='overflow-y:auto' lang='en_US')
    head
        title blek! Site #{title ? "- " + title : ""}

        link(rel='stylesheet' href='/static/main.css')

        //- basic SEO tags
        if (typeof description == 'string')
            meta(name='description' content=description)
        
        //- Open Graph tags
        if (typeof og == 'object')
            each content, tag in og
                meta(property='og:' + tag content=content)
        
        //- UX
        meta(name='viewport' content='width=device-width, initial-scale=1')

        if (process.env.APP_DEBUG == 'true')
            style.
                .debug_warning {
                    margin:0;padding:0;
                    color:darkred;
                    font-weight:bold;
                    font-size:16pt;
                    position:fixed;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    text-align:center;
                    pointer-events:none;
                    opacity:0.4;
                    text-shadow:0 2px 1px #a07060a0
                }

        block head 
    body(style='overflow-y:auto')
        if (req.legacymode)
            p(align='center' style='border-bottom:1px solid rgb(210,210,210);margin-bottom:0;padding-bottom:16px')
                | It seems that you are using an old browser.
                br
                | Please consider upgrading to a newer alternative
        if (process.env.APP_DEBUG == 'true')
            p(class='debug_warning')
                | Warning: THE WEBSITE IS IN DEBUG MODE!
                br
                | If the site is not currently running locally, please
                br
                | contact the maintainers and notify them of the issue.
        table(width='100%' height='100%' class='body_table')
            tr
                td(class='side_menu' width='10%')
                    h1
                        a(href='/') blek! Site
                    hr(class='flag_hr')
                    ul 
                        each route, name in routes
                            if (route == 'hr')
                                li <hr/>
                            else
                                li(style='padding-left:4px')
                                    if current_route == route
                                        | > #{name}
                                    else
                                        a(href=route) #{name}

                    hr
                    p(class='nojs_hide') This site is also available in:
                    p(class='nojs_hide')
                        a(href='#' id='aussy_language')
                            span(class='flag_btn au_flag' title='Australian')
                td(class='main_contents' width='90%')
                    block content
        block foot
        
        //- js dependencies
        script(src='/static/js/jquery.js')

        //- global js
        script(src='/static/js/main.js')
        script(type='text/javascript').
            var data = {
                ip: '#{req.ip}'
            }

            setTimeout(function() {
                alert('Congratulations! You have spent 10 years on this page. Go fuck yourself.\n\nUwU');
            }, 1000 * 60 * 60 * 24 * 365 * 10);

            $('.nojs_hide').css('display', 'block')

        //- page js
        block scripts