extends layout/main.pug
block root
    - var title = 'Guestbook'
block head
    <link rel='stylesheet' href='/static/ui/send_button.css'>
    <link rel='stylesheet' href='/static/ui/gb_ui.css'>
block content
    h1 Guestbook
    p.
        Leave a message if you want.
    hr
    table
        tr
            td
                h4 Message form
                form(method='post' action='/guestbook/submit')
                    table
                        tr
                            td Your name:
                            td
                                input(type='text'  name='name'  value='John Doe')
                        tr
                            td Your email:
                            td
                                input(type='email' name='email' value='john.doe@example.com')
                        tr
                            td Hide your email?
                            td
                                input(type='checkbox' name='hidemail')
                    p(style='margin:6px 0') Your message (512 chars max):
                    textarea(name='message' style='width:100%;height:150px;max-width:600px;max-height:300px')
                    p
                        input(type='submit' class='send_button_1')
            td(style='padding:0 16px;margin:0')
                h5 Guidelines
                ul
                    li Follow the DBAA policy.
                    li
                        | Do not post spam ads, keep it for humans.
                        ul
                            li There is no captcha for a reason. I'd like to keep it this way for as long as possible, so I humbly ask not to ruin it.
                span(style='font-size:10pt;color:darkred;font-weight:bold').
                    Warning: Your ip (#{ip}) will be logged and displayed for everyone.<br/>
                    You can delete your own message if it was sent from the same ip for 24 hours after it was sent.
    hr

    if (!data)
        p No records available.
    else
        table
            each entry, id in data
                tr
                    td(width='20%' class='gb_sender_data')
                        p(style='font-size:9pt').
                            ID: <a id='gb_entry_#{id}' href='#gb_entry_#{id}'>##{id}</a><br/>
                            Sender: #{entry.name}<br/>
                            Email: #{entry.email}<br/>
                            IP: #{entry.ip}<br/>
                        //  Date: #{new Date(entry.time).toISOString()}<br/>
                    td(width='80%' class='gb_entry_text')
                        p(class='gb_entry_text_title') Message:
                        p(style='margin:0;padding:0;font-size:10pt').
                            hiii